html, body, .tab-content {
    height: 100%;
    margin: 0;
}

header {
    display: flex;
}

header h3 a, header h3 a:hover {
    text-decoration: none;
    color: inherit;
    margin: 20px 20px auto 20px;
}

header ul {
    margin: auto auto 0 0;
}

.tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* image is labeled for reuse */
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/26/Wall_with_post-its.jpg");
}

#home, #about {
    background-color: rgba(255, 255, 255, 0.9); 
    width: 600px;
    height: 350px;
    padding: 50px 0;
    text-align: center;
    border-radius: 10px;
}

.app-desc {
    max-width: 400px;
    padding: 20px;
    margin: auto;
    font-size: 1.4em;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.login {
    max-width: 400px;
    margin: 0 auto auto auto;
    padding: 20px;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.loginbtn {
    background-color: #13b937;
    color: white;
    padding: 10px 50px;
    border-radius: 5px;
    font-size: 15px;
}

.loginbtn:hover {
    background-color: #12a832;
    text-decoration: none;
    color: white;
}

#about {
    height: 280px;
    font-size: 1.4em;
}