/*Set default styles here for the plain elements, not custom classes*/
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");



html, body {
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.navbar {
    color: rgb(0, 0, 0);
}

/*affect only nav li elements*/
nav li {
    font-size: 2em;
}

#userIcon {
	max-height: 40px;
    max-width: 40px;
}