/*Set default styles here for the plain elements, not custom classes*/
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");



html, body {
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.navbar {
    color: rgb(0, 0, 0);
}

@media only screen and (max-width:700px) {
/*affect only nav li elements*/
nav li {
        font-size: 1em;
    
    -webkit-transition: font-size 0.2s ease-out;
    -moz-transition: font-size 0.2s ease-out;
    transition: font-size 0.2s ease-out;
    }
}

@media only screen and (min-width: 700px)
{
nav li {
    font-size: 2em;

    -webkit-transition: font-size 0.2s ease-out;
    -moz-transition: font-size 0.2s ease-out;
    transition: font-size 0.2s ease-out;
    }
}

#userIcon {
	max-height: 40px;
    max-width: 40px;
}